

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   
}
.jumbotron{
    margin: 40px auto auto;
    width: 90%;
}

#logo{
    position: absolute;
    top: -60px;
    left: -20px;
}

.btn{
    margin-top: 10px;
}













