

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   
}
.jumbotron{
    margin: 0 auto 0 auto;
    width: 95%;
}

.navbar{
    margin-bottom: 0;
}

#logo{
    position: absolute;
    top: -60px;
    left: -20px;
}

.btn{
    margin-top: 10px;
}













